@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn-secondary,
.btn-primary {
  padding: 10px 20px;
  border-radius: 10px;
}

.btn-primary {
  color: #30488f;
  border: 1px solid #30488f;
}

.btn-primary:hover {
  color: white;
  background: #30488f;
}

.btn-secondary {
  color: white;
  background: #30488f;
}

.header {
  width: 100%;
  height: 70px;
}

.header .container {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #565A5C;
}

.header .container .header-left,
.header .container .header-right {
  float: left;
  width: 50%;
  height: 100%;
}

.header .container .header-left img {
  margin-top: 10px;
  height: 50px;
}

.header .container .header-right ul {
  list-style: none;
  text-align: right;
  line-height: 70px;
}

.header .container .header-right ul li {
  display: inline-block;
  margin: 0 20px;
}

.header .container .header-right ul li a {
  text-decoration: none;
  color: #565A5C;
}

.header .container .header-right ul li a:hover {
  color: #30488f;
}

.header .container .header-right ul li a.btn-primary {
  color: #30488f;
}

.header .container .header-right ul li a.btn-primary:hover {
  color: white;
}

.jumbo .jumbo-right,
.jumbo .jumbo-left {
  display: flex;
  justify-content: center;
  float: left;
  width: 50%;
  height: 600px;
}

.jumbo .jumbo-left {
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
  color: #565A5C;
}

.jumbo .jumbo-left h1 {
  font-size: 55px;
  color: #565A5C;
}

.jumbo .jumbo-left p {
  margin-top: 40px;
  font-size: 22px;
}

.jumbo .jumbo-left .jumbo-left-bottom {
  margin-top: 40px;
  margin-bottom: 30px;
}

.jumbo .jumbo-left .jumbo-left-bottom a {
  text-decoration: none;
}

.jumbo .jumbo-left .jumbo-left-bottom a:hover {
  background: #233569;
}

.jumbo .jumbo-left .jumbo-left-bottom span {
  margin: 0 10px;
  color: lightgrey;
}

.jumbo .jumbo-right {
  align-items: center;
}

.jumbo .jumbo-right img {
  width: 100%;
}

