.header {
    width: 100%;
    height: 70px;
    .container {
        height: 100%;
        @include commonBorderBottom($myFavoriteGrey);
        .header-left, .header-right {
            float: left;
            width: 50%;
            height: 100%;
        }
        .header-left {
            img {
                margin-top: 10px;
                height: 50px;
            }
        }
        .header-right {
            ul {
                list-style: none;
                text-align: right;
                line-height: 70px;
                li {
                    display: inline-block;
                    margin: 0 $baseMargin*2;
                    a {
                        text-decoration: none;
                        color: $myFavoriteGrey;
                        &:hover {
                            color: $baseBlue;
                        }
                        &.btn-primary {
                            color: $baseBlue;
                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
